/*general*/
body {
    height: 100%;
    margin: 50px;
}

/*grid*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px repeat(8, 1fr) 100px;
    grid-gap: 10px;   
}
.header {
    grid-column: 1 / -1;
    grid-row: 1 ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}
.profile {
    grid-column: 1;
}

.title-text {
    grid-column: 2 / span 2;
}

.content-left {
    grid-column: 1 / 5;
    grid-row: 2 / -2;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-gap:10px;
}

.general {
    grid-row: 1 / span 2;
    text-align: center;
}

.skills {
    grid-row: 3 / span 3;
    text-align: center;
}

.tools {
    grid-row: 6 / span 3;
    text-align: center;
}

.content-right {
    grid-column: 5 / -1;
    grid-row: 2 / -2;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    /* display: flex; */
}

.experience {
    grid-row: 1 / span 3;
    grid-column: 1 / -1;
}

.education {
    grid-row: 4 / span 3;
    grid-column: 1 / -1;
}

.languages {
    grid-row: 7 / span 2;
}

.likes {
    grid-row: 7 / span 2;
}

/*test
.languages {
    flex-direction: row;
}
.likes {
    flex-direction: row;
}
*/

.footer {
    grid-column: 1 / -1;
    grid-row: -1;
}


/*Test to see the divs*/
.header, .profile, .title-text, .general, .skills, .tools, .experience, .education, .languages, .likes {
    border:1px solid black;
}

/*Font styling*/
h1 {
    font-family: "Raleway",sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    font-family: "Special Elite",cursive;
    font-size: 22px;
}

h3 {
    font-family: "Raleway",sans-serif;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h4 {
    font-family: "Special Elite",cursive;
    font-size: 14px;
}

h5 {
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: bold;
}
ul, p {
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    list-style: none;
    padding-left:0;
}

/*image styling*/

#profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}