/*general*/

body {
    background-color: #6F7762;
    text-align: center;
    margin-bottom:5px;
}

.icon:hover {
    filter: invert(100%)
}

.wrapper {
    height: 100%;
    outline: 3px solid white;
    border: 3px solid #6F7762;
    max-width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;

}

/*Keep border at smaller screens*/
@media only screen and (max-width: 1160px) {
    body {
        margin: 20px 20px 5px 20px;
    }
}

/*Keep border at smaller screens*/
@media only screen and (max-width: 640px) {
    body {
        margin: 5px 5px 5px 5px;
    }
}

/*Test to see the divs*/
 .header, .general, .skills, .tools, .experience, .education, .languages, .likes {
    outline:1px solid #6F7762;
}

* {
	box-sizing: border-box;
}

/*DT: Division into 2 columns of the header section*/

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color:white;
    justify-items: center;
    align-items: center;
}

.profile {
    grid-column: 1;
    padding: 20px;
}

.title-text {
    grid-column: 2 / span 2;
    padding: 20px;
}

/*Mobile: Responsive header section*/
@media only screen and (max-width: 640px) {
    .header {
        display: block;
        background-color:white;
        text-align: center;
    }
    
    .profile {
        padding: 20px;
    }
    
    .title-text {
        padding: 20px;
    }
}

/*DT: Division into 2 columns of the content section*/

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:white;
}

.content-left {
    grid-column: 1;
}

.content-right {
    grid-column: 2 / span 2;
}

/*Mobile: Responsive content section*/
@media only screen and (max-width: 640px) {
    .content {
        display: block;
        background-color:white;
    }
    
    .profile {
        padding: 20px;
    }
    
    .title-text {
        padding: 20px;
    }
}

/*DT: Division into rows of the left section*/
.content-left {
    display: grid;
    grid-template-rows: repeat(8, auto);

}

.general {
    grid-row: 1 / span 2;
    text-align: center;
    padding: 10px;
}
.general a {
    text-decoration:none;
    color: grey;
}
.skills {
    grid-row: 3 / span 3;
    text-align: center;
    padding: 10px;
}

.tools {
    grid-row: 6 / span 3;
    text-align: center;
    padding: 10px;
}

/*Division into rows and columns of the right section*/
.content-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, auto);

}

.experience {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    text-align: center;
}

.education {
    grid-column: 1 / span 2;
    grid-row: 4 / span 3;
    text-align: center;
}

.languages {
    grid-column: 1;
    grid-row: 7 / span 2;
    text-align: center;
    padding:20px;
}

.likes {
    grid-column: 2;
    grid-row: 7 / span 2;
    text-align: center;
    padding:20px;
}

/*Mobile: Responsive content right section*/
@media only screen and (max-width: 640px) {
.content-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    margin: 0;
}
.languages {
    grid-column: 1;
    grid-row: 7 / span 2;
    text-align: center;
    padding: 20px;
}

.likes {
    grid-column: 1;
    grid-row: 9 / span 2;
    text-align: center;
    padding: 20px;
}
}

/*DT: Table formatting*/

.table {
    display: flex;
    justify-content: center;
}

table h4 {
    margin: 0;
    padding: 5px;
    text-align: right;
}
table p {
    margin: 0;
    padding: 5px;
    text-align: left;
}

/*DT: Division 'experience' into 4x2 grid */
.experience {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 15px;
}
.experience h3 {
    grid-column: 1 / -1;
    grid-row: 1;
}
.date1 {
    grid-column: 1;
    grid-row: 2;
    text-align: right;
    padding: 0px 20px 0px 20px;
}
.date2 {
    grid-column: 1;
    grid-row: 3;
    text-align: right;
    padding: 0px 20px 0px 20px;
}
.date3 {
    grid-column: 1;
    grid-row: 4;
    text-align: right;
    padding: 0px 20px 0px 20px;
}
.what1 {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    padding: 0px 20px 0px 20px;
}
.what2 {
    grid-column: 2;
    grid-row: 3;
    text-align: left;
    padding: 0px 20px 0px 20px;
}
.what3 {
    grid-column: 2;
    grid-row: 4;
    text-align: left;
    padding: 0px 20px 0px 20px;
}
/*Tablet and mobile: Experience grid*/

@media only screen and (max-width: 768px) {
    
    .experience {
        display: block;
    }

    .experience h3 {
        margin-bottom: 40px;
    }
    .date1, .date2, .date3, .what1, .what2, .what3 {
        text-align: center;
    }
    
    .what1, .what2, .what3 {
        margin-bottom: 40px;
}
}

/*DT: Division 'education' into 4x2 grid */
.education {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 15px;
}
.education h3 {
    grid-column: 1 / -1;
    grid-row: 1;
}
.year1 {
    grid-column: 1;
    grid-row: 2;
    text-align: right;
    padding: 0px 20px 0px 20px;
}
.year2 {
    grid-column: 1;
    grid-row: 3;
    text-align: right;
    padding: 0px 20px 0px 20px;
}
.year3 {
    grid-column: 1;
    grid-row: 4;
    text-align: right;
    padding: 0px 20px 0px 20px;
}
.whated1 {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    padding: 0px 20px 0px 20px;
}
.whated2 {
    grid-column: 2;
    grid-row: 3;
    text-align: left;
    padding: 0px 20px 0px 20px;
}
.whated3 {
    grid-column: 2;
    grid-row: 4;
    text-align: left;
    padding: 0px 20px 0px 20px;
}

/*Tablet and mobile: Education grid */
@media only screen and (max-width: 768px) {
    
    .education {
        display: block;
    }

    .education h3 {
        margin-bottom: 40px;
    }

    .year1, .year2, .year3, .whated1, .whated2, .whated3 {
        text-align: center;
    }
    .whated1, .whated2, .whated3 {
        margin-bottom: 40px;
    }
}

/*Font styling*/
h1 {
    font-family: "Raleway",sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:0;
}

h2 {
    font-family: "Special Elite",cursive;
    font-size: 22px;
    margin: 0;
    letter-spacing: 0.5px;
}

/*Tablet: Responsive content text header*/
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 45px;
        line-height: 40px;
        text-align: left;
    }

    h2 {
        margin-top: 5%;
        text-align:left;
        letter-spacing: 0.5px;
    }
}


/*Mobile: Responsive content text header*/
@media only screen and (max-width: 640px) {
    h1 {
        font-size: 40px;
        line-height: 34px;
        text-align: center;
    }

    h2 {
        margin-top: 5%;
        text-align: center;
        letter-spacing: 0.5px;
    }
}

h3 {
    font-family: "Raleway",sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5%;
}

h4 {
    font-family: "Special Elite",cursive;
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
}

h5 {
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-top: 10px;
}
ul, p {
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    list-style: none;
    padding-left:0;
    color: grey;
}

.experience p , .education p {
    margin: 5px 0px 5px 0px;
}

/*image styling*/

#profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}